<%- include('../../template-backoffice/header.ejs'); -%>

<!-- BEGIN PAGE CONTENT -->
<div class="page-content">
  <div class="header">
    <h2><strong>Edit Data User</strong></h2>
    <div class="breadcrumb-wrapper">
      <ol class="breadcrumb">
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/users/list">Data</a></li>
        <li class="active">Edit Data</li>
      </ol>
    </div>
  </div>
  
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="panel">
        <div class="panel-content">
          <form role="form" action="/user/submit_edit" method="POST" >
            <input type="hidden" value="<%= respon[0].id%>" name="id"/>
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="form-group">
                  <label>Username</label>
                  <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                      <input type="text" class="form-control" name="username" value="<%= respon[0].username%>" id="">
                    </div>
                  </div>
                </div>

                <%if(user.role=='Admin'){%>
                <div class="form-group">
                  <%if(respon[0].role!='Dewan'){%>
                  <label>Kecamatan</label>
                  <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                      <select name="kecamatan" id="kec" class="form-control" data-search="true">
                        <option value="">-- Pilih --</option>
                        <% for(let i=0; i < kec.length; i++) {%>
                          <option value="<%= kec[i].nama_kecamatan%>" <%=(respon[0].kecamatan==kec[i].nama_kecamatan)?'selected':''%>><%= kec[i].nama_kecamatan%></option>
                          <% } %>
                    </select>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label>Kelurahan</label>
                  <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                      <select name="kelurahan" id="kel" class="form-control" data-search="true">
                        <option value="">-- Pilih --</option>
                    </select>
                    </div>
                  </div>
                </div>
                <%}}%>

                <div class="form-group">
                  <label>Role</label>
                  <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                      <select name="role" id="" class="form-control" data-search="true">
                        <option value="Admin" <%=(respon[0].role=='Admin')?'selected':''%>>Admin</option>
                        <option value="Surveyor" <%=(respon[0].role=='Surveyor')?'selected':''%>>Surveyor</option>
                        <option value="Dewan" <%=(respon[0].role=='Dewan')?'selected':''%>>Dewan</option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label>Dewan</label>
                  <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                      <select name="dewanId" id="" class="form-control" data-search="true">
                        <% for(let i=0; i < dewan.length; i++) {%>
                          <option value="<%= dewan[i].id%>" <%=(respon[0].dewanId==dewan[i].id)?'selected':''%>><%= dewan[i].nama%></option>
                          <% } %>
                      </select>
                    </div>
                  </div>
                </div>

                <button type="submit" class="btn btn-primary btn-embossed">Simpan</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="footer">
    <div class="copyright">
      <p class="pull-left sm-pull-reset">
        <span>Copyright <span class="copyright">©</span> 2020</span>
        <span>Pemerintah Kota Salatiga</span>.
      </p>
    </div>
  </div>
</div>
<!-- END PAGE CONTENT -->

<%- include('../../template-backoffice/footer.ejs'); -%>
<script type="text/javascript">
 $.get( "/kegiatan/kel/"+$('#kec').val(), function( data ) {
           data.forEach(element => {
            $('#kel').append(`<option value="${element.nama_kelurahan}">${element.nama_kelurahan}</option>`)
           });
           $('#kel').val('<%= respon[0].kelurahan%>')
        });
      


 $('#kec').change(function(){
      $('#kel').empty()
          $.get( "/kegiatan/kel/"+$(this).val(), function( data ) {
           data.forEach(element => {
            $('#kel').append(`<option value="${element.nama_kelurahan}">${element.nama_kelurahan}</option>`)
           });
        });
    })
</script>